<html>
<head>
    <style>
        .main{
            margin-left: 50px;
        }
        h3{
            margin-top: 20px;
            color: black;
        }
        p{
            color:teal;
        }
    </style>
    </head>
    <body onload="getProducts()">
        <div class="main">
        <div><h3>Your Cart : </h3></div>
        <div id="divListOfProducts">
        </div>
        <div> 
            <p id="total" ><b>Total : </b></p>
            <button  onclick="checkOut()">Check Out</button> 
            <button  onclick="continueToShop()">Continue Shopping</button>
            </div>
        </div>
    </body>    
    <script src="./js/cart.js" type="text/javascript"></script>
</html>