<!Doctype html>
<html>
<head>
    <link rel="stylesheet" href="../css/login.css">
<title>Login</title>
</head>
<body >
    <div id="main">
        <h1>Sign In</h1>
        <form id="formm">
        <div id="set">
        <input id="uname" name="username" type="text" placeholder=" username" required> 
        </div>
        <div id="set">
       <input id="password" name="password" type="password" placeholder=" password" required>    
        </div>
        <b><input type="button" value="Sign in" id="signIn" class="btn"></b><br>
        <a href="./signUp" style="text-decoration:none; color:black; font-size: small;text-align: center;"> New Member..... Sign Up</p>
        <a href="./viewProducts" style="text-decoration:none; color:black;font-size:smaller"> Continue Without Sign In</a>
        </form>
    </div> 
    </body>
    <script src='../public/login.js' type="text/javascript"></script>
</html>